[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
click = "*"
tabulate = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
responses = "*"

[requires]
python_version = "3.8"
